<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}DEVOUR{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>